@charset "utf-8";

/* gallery.css */
*{margin: 0px; padding: 0px;}
ul, li, ol{list-style: none;}

/* 버튼서식 */
.button{
  padding: 5px 7px;
  border: 1px solid #8d8d8d;
  background: #fff;
  font-size: 14px;
}
.box_photo{
  width: 668px;
  margin: 0 auto;
  padding-top: 10px;
  color: #343434;
  border: 3px solid #000;
  position: relative;
}
.title_area, .sub_area{
  width:100%;
  height: 27px;
  display: inline-flex;
  align-items: center;
}

.user_btn{
  margin-left: auto;
  transform: translateY(20px);
}
.sub_area > ul{
  width: 100%;
  height:27px;
  display: inline-flex;
  align-items: center;
}
.sub_area > ul > li{
  padding-right: 9px;
  font-size: small;
  font-weight: lighter;
}

/* 썸네일 이미지 목록 */
.list-area{
  width: 100%;
  height: 74px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-flex;
}
.list-area i{
  padding: 24px 10px;
  font-size: 26px;
  color: #7a7979;
}
.list-area>i:hover{cursor: pointer;}
.list_photo{width: 100%;}
.list_photo > li {
  width: calc(100%/8);
  height:74px;
  float: left;
  position: relative;
  box-sizing: border-box;
}
.list_photo > li img{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  object-fit: cover;
  
}
.list_photo > li:first-child{
  border: 3px solid orange;
}
.list_photo > li:hover{
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid orange;
}

/* 메인이미지영역 서식 */
.main_photo{
  width: 100%;
  height:443px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  position: relative;
}
.main_photo img{
  width: 100%;
  object-fit: contain;
}
.arrow .fas{
  background: rgba(0,0,0,0.9);
  color: rgba(255,255,255,.7);
  position: absolute;
  top: 100px;
  z-index: 99;
  width: 40px;
  height: 50px;
  line-height: normal;
  margin: 40px 0px;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
}
.arrow i.fa-angle-left{
  left: 0px;
}
.arrow i.fa-angle-right{
  right: 0px;
}
#photo_title{
  font-size: 14px;
  top: 18px;
  left: 50px;
  color: #f00;
  position: absolute;
}

